*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is going to be for other components
    font-size: 62.5%; /* default font size of browser is 16px, so to define html default font size to 10 we divide 10/16 to get .625 which is 62.5%  */

    // using mixin of media query
    // 1st method
    // @include respond-phone {
    //     font-size: 50%;
    // }

    // @include respond(phone) {
    //     font-size: 50%;
    // } // same as of tab-port
    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px(let), 12/16 = 75%
    }
    @include respond(tab-land) { //checks width <900 ?
        font-size: 56.25%; // 1rem = 9px(let), 9/16 = 56.25%
    }
    @include respond(tab-port) { //checks width <600 ?
        font-size: 50%; // 1rem = 8px(let), 8/16 = 50%
    }
    // @include respond(phone) { //checks width <600 ?
    //     font-size: 30%;
    // }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
