*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is going to be for other components
    font-size: 62.5%; /* default font size of browser is 16px, so to define html default font size to 10 we divide 10/16 to get .625 which is 62.5%  */
}

body {
    box-sizing: border-box;
}
